*~
archiso-*.tar.gz*
work/
out/
build/
*.iso
*.img
*.cer
*.crt
*.key
*.pem
user-data
meta-data
*.qcow2
archiso/packages.x86_64
archiso/airootfs/etc/gdm/
archiso/airootfs/etc/systemd/system/display-manager.service
archiso/airootfs/etc/motd
archiso/airootfs/etc/environment
archiso/airootfs/etc/pacman.d/cachyos-mirrorlist
archiso/airootfs/etc/edition-tag
archiso/airootfs/etc/version-tag

# ISO build artifacts
build/
out/
local-repo/*.pkg.tar.zst
local-repo/*.db*
local-repo/*.files*
*.iso
*.sha1
*.sha256
