LABEL cos64
TEXT HELP
Boot the CachyOS Mac Pro 6,1 install medium on BIOS.
It allows you to install CachyOS or perform system maintenance.
ENDTEXT
MENU LABEL CachyOS Mac Pro (Mac Pro 6,1 kernel, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-macpro61
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-macpro61.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=pcspkr,radeon amdgpu.si_support=1 radeon.si_support=0 amdgpu.dc=0 nvme_load=yes

# LTS Fallback
LABEL cos64lts
TEXT HELP
Boot with CachyOS LTS kernel (fallback).
ENDTEXT
MENU LABEL CachyOS LTS Fallback (BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto module_blacklist=pcspkr amdgpu.si_support=1 radeon.si_support=0 amdgpu.dc=0 nvme_load=yes

# Safe mode (nomodeset)
LABEL cos64fb
TEXT HELP
Boot in safe mode with nomodeset for debugging.
ENDTEXT
MENU LABEL CachyOS Safe Mode (nomodeset, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos-lts.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=10G copytoram=auto nomodeset nvme_load=yes
